* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
#nav-menu {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: white;
  margin-top: -180px;
}
nav {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100vw;
}
#nav-ul {
  display: flex;
  list-style: none;
  margin-right: 100px;
}
#nav-ul > li {
  padding: 5px 10px 5px 10px;
  margin: 0 10px 0 10px;
  font-size: 18px;
}
#nav-ul > li > a {
  text-decoration: none;
  color: #475569;
}
#nav-ul > li > a:hover {
  color: rgb(0, 136, 255);
}
nav > h1 {
  margin-left: 100px;
  font-family: "Pacifico", cursive;
  letter-spacing: 2px;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
}

#home {
  display: flex;
  justify-content: space-around;
  z-index: -1;
  margin-top: 180px;
  height: 600px;
}
.content {
  margin-top: 50px;
}
.content > h2 {
  z-index: -1;
  font-size: 3rem;
}

.socials > ul {
  display: flex;
  margin-top: 30px;
}
.socials > ul > li {
  list-style: none;
}
.socials > ul > li > a {
  margin-right: 20px;
  padding: 8px 15px;
  background-color: rgb(74, 87, 188);
  border-radius: 50%;
  font-size: 1.5rem;
  color: aqua;
}

.content > h2 > span {
  color: #dd6414;
}

.content > p > span {
  color: #dd6414;
}
.content > p {
  margin-bottom: 20px;
}
.content > a {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #3218a4;
  border-radius: 20px;
  color: #fff;
}
.pp {
  height: 400px;
  margin-left: 22.135416666666668vw;
  border-radius: 50%;
}
.pp:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pp > img {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  /* border: 1px solid; */
}
.abtme {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}
.abtme > i {
  margin-right: 10px;
}
.abtme > span {
  color: #dd6414;
}

#about-main{
  display: flex;
  width: 70%;
  margin: auto;
  justify-content: center;
  border: 1px solid;
  margin-top: 50px;
}
#about-main>.abt-img{
  width: 100%;
  border: 1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}
#about-main>.abt-txt{
  width: 100%;
  margin: auto;
  border: 1px solid;
  margin-right: 50px;
}
#about-main>.abt-img>img{
  border-radius: 20px;
  height: 400px;
  width: 250px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(90%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#about-main>.abt-img>img:hover{
  filter: grayscale(100%);
  -webkit-filter: grayscale(0%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}









@media only screen and (max-width: 850px) {
  #nav-ul {
    position: fixed;
    z-index: 1;
    padding: 20px 0 20px 0;
    left: -100%;
    top: 4rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  #nav-ul.active {
    left: 0;
  }

  .nav-link {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    margin-right: 100px;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #nav-menu {
    margin-top: -50px;
  }
  #home {
    display: flex;
    flex-direction: column;
    margin: auto;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .content {
    text-align: center;
  }
  .content > .socials {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  .pp {
    margin: auto;
  }
}
